<section>
  <div class="page-header">
    <h1 ng-bind="vm.inquilino.nome"></h1>
  </div>
  <div class="pull-right">
    <a class="btn btn-primary" ui-sref="inquilinos.edit({ inquilinoId: vm.inquilino._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-3"><strong>Nome</strong></div>
        <div class="col-md-6" ng-bind="vm.inquilino.nome"></div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-3"><strong>Sobrenome</strong></div>
        <div class="col-md-6" ng-bind="vm.inquilino.sobrenome"></div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-3"><strong>Email</strong></div>
        <div class="col-md-6" ng-bind="vm.inquilino.email"></div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-3"><strong>Created</strong></div>
        <div class="col-md-6" ng-bind="vm.inquilino.created"></div>
      </div>
      <hr/>
    </div>
  </div>
</section>
